#outerContainer {
    display: flex;
    flex-direction: column;
    width:100%;
}

#imageProjects {
    width: 100%;
    background-color: green;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#videoProjects {
    width: 100%;
    background-color: yellow;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card {
    display: inline-block !important; 
    margin: 0.5% !important;
    white-space: normal !important;
    width: 200px !important;
    height: 350px !important;
}

@media (max-width: 1024px) {
    .card {
        width: 350px !important;
        height: 500px !important;
        margin: 2% !important;
    }
    .header {
        font-size: 3em !important;
    }

    .description {
        font-size: 2em !important;
        line-height: 1em !important;
    }
}

.content {
    overflow: hidden !important;
    height: 15% !important;
}

.header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:block;
    width:100%;
    min-width:1px;
    
}

.image {
    height: 65%;
    width: 100%;
    object-fit:scale-down;
}